auto-save-list/
elpa/
eshell/
url/
semanticdb/
.python-environments/
transient/
eln-cache/
projectile-bookmarks.eld
secrets.el
custom.el
custom.elc
secrets.elc
abbrev_defs
tramp
ac-comphist.dat
session.*
network-security.data
TAGS
.lsp-session-v1
/README.el
